<!DOCTYPE html>
<html>
  <head>
    <title>Railgirls</title>
    <%= csrf_meta_tags %>

    <link rel= "stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel= "stylesheet" href="http://maxcdn.bootstrapdc.com/bootstrap/3.03/css/bootstrap-theme.min.css">
  </head>

  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="contrainer">
        <div class="navbar-header">
          <botton type= "buttom" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collepse">
            <span class="sr-only"> Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </botton>
          <a class="navbar-brand" href="/">The Idea app</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="<%= 'active' if current_page?(ideas_path) %>">
              <%= link_to 'Ideas', ideas_path %>
            </li>
            <li class="<%= 'active' if current_page?(pages_info_path) %>">
              <%= link_to 'Quien soy?', pages_info_path %>
            </li>
            <li class="<%= 'active' if current_page?(new_idea_path) %>">
              <%= link_to 'Nueva Idea', new_idea_path %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
            </nav>
    <div class="contrainer">
       <%= yield %>
    </div>
    <footer>
      <di class="contrainer">
        Rails Girls 2016
      </div>
    </footer>
    <script src="https://maxcdn.bootstrapcdn.com/bootstap/3.0.3/js/bootstrap.min.js"></script>
  </body>
</html>
